.line2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}
.line2 input {
  padding: 5px 10px;
  margin-top: 10px;
}
.line2 button {
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.line2 button:hover {
  background-color: rgb(236, 236, 236);
  transition-duration: 0.2s;
}
.line2 button:active {
  background-color: rgb(230, 230, 230);
}